<div class="site-banner">
    <div class="banner-wrapper primary-layer">
        <div class="banner-inner">
            <div class="banner-content container text-center container-full-width">

                <img [src]="logo" [alt]="'app.title.home' | translate" height="256"/>
                <h2 class="display-3 fw-200 mb-4 text-white text-capitalize">
                    <span class="d-title">
                        Creative
                        <span>Designs</span>
                        <span>Business</span>
                    </span>
                </h2>
                <h4 class="text-white">{{'app.coming_soon' | translate}}</h4>
            </div>
        </div>
    </div>
</div>
