@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Paytone%20One:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        font-family: "Inter", sans-serif;
    }
}

@layer components {
    input[type="checkbox"]:checked ~ label span svg {
        @apply inline-flex;
    }

    .sticky .header-logo {
        @apply py-5 lg:py-2;
    }

    .sticky .menu-scroll.active {
        @apply opacity-70;
    }

    input#togglePlan:checked ~ .dot {
        @apply translate-x-full;
    }

    input#checkboxLabel:checked ~ .box span {
        @apply opacity-100;
    }

    .animation-hover:after {
        background: none repeat scroll 0 0 transparent;
        content: "";
        height: 2px;
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
        @apply w-0 bg-purple-500 left-1/2 block bottom-0 absolute;
    }

    .animation-active:after {
        @apply left-0 w-full;
    }

    .animation-hover:hover:after {
        @apply left-0 w-full;
    }

    @keyframes scroll {
        0% {
            left: 0;
        }
        100% {
            left: -100%;
        }
    }

    .font-paytone {
        font-family: Paytone One, Roboto, -apple-system, Helvetica Neue, sans-serif;
    }

    .social-link .social-svg {
        color: var(--color);
        width: 100%;
        height: 100%;
        transform: scale(0.5);
    }

    .social-link .social-svg .social-group__icon {
        transition: all 0.2s;
    }

    .social-link .social-svg .social-group__inner-circle {
        fill: transparent;
        transition: all 0.2s;
    }

    .social-link .social-svg .social-group__outline {
        transform-origin: 50% 50%;
        transition: all 0.2s;
    }

    .social-link .social-svg:hover .social-group__icon, .social-link .social-svg:active .social-group__icon, .social-link .social-svg:focus .social-group__icon {
        fill: #fffbfa;
        transition: all 0.45s;
    }

    .social-link .social-svg:hover .social-group__inner-circle, .social-link .social-svg:active .social-group__inner-circle, .social-link .social-svg:focus .social-group__inner-circle {
        fill: currentColor;
        transition: all 0.45s;
    }

    .social-link .social-svg:hover .social-group__outline, .social-link .social-svg:active .social-group__outline, .social-link .social-svg:focus .social-group__outline {
        stroke: currentColor;
        transform: scale(1.1);
        transition: all 0.45s;
    }

    .scrolldiv::-webkit-scrollbar {
        display: none;
    }

    .scrolldiv {
        -ms-overflow-style: none;  /* IE 10+ */
        scrollbar-width: none;  /* Firefox */
    }
}
